<form method="post" action="/all-simploniens" class="form">
    <h1 class="title">Ajouter un nouveau simplonien</h1>

    <label for="name" class="is-clickable">Name</label>
    <input class="input" id="name" type="text" name="name">
    <label for="email" class="is-clickable">Email</label>
    <input class="input" id="email" type="text" name="email">
    <label for="favorite_langage" class="is-clickable">Favorite langage</label>
    <input class="input" id="favorite_langage" type="text" name="favorite_langage">
    <button class="btn">ok</button>
</form>
